<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-11">
              <div class="jumbotron">
  <h1 class="display-4 text-center">LIBRARY MANAGEMENT SYSTEM</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p></p>
  <p class="lead">

  </p>
</div>

        </div>

    </div>
    <div class="row">

        <div class="col-sm-4">

               <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>ADMIN</h3></div>
  <div class="card-body">

    <p class="card-text">USERNAME-dell</p>
      <h7 class="card-title">PASSWORD-12</h7>
  </div>
                    <a href="{% url 'login' %}" class="btn btn-primary">ADMIN</a>
</div>
</div>
<div class="col-sm-4">
   <div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><h3>STUDENT</h3></div>
  <div class="card-body">

    <p class="card-text">Student can view all the books prent in the system.</p>
      <h7 class="card-title"></h7>
  </div>
                    <a href="{% url 'viewbook' %}" class="btn btn-primary">STUDENT</a>

</div>
</div>

    </div>

</div>
{% endblock %}