<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">LMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">AboutUs</a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">ContactUs</a>
      </li>



    </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'home' %}">


        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'dashboard' %}">DASHBOARD</a>
        <a class="nav-link" href="{% url 'viewbook' %}" >VIEW BOOK</a>
        <a class="nav-link" href="{% url 'addbook' %}" >ADD BOOK</a>
          <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
        {% else %}


          <a class="nav-link" href="{% url 'signup' %}">SIGNUP</a>

          <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
        {% endif %}


      </form>
  </div>
</nav>